<div class="container">
  <h1>Editing proponent</h1>
  <%= render "form", proponent: @proponent %>

  <div>
    <%= link_to "Show this proponent", @proponent %> |
    <%= link_to "Back to proponents", proponents_path %>
  </div>
</div>
