<div class="container">
  <%= link_to "Back to proponents", proponents_path %>

  <h1>Relatory</h1>

  <canvas id="myChart" width="200px" height="100px" ></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const ctx = document.getElementById('myChart');

new Chart(ctx, {
  type: 'bar',
  data: {
	labels: <%= @data_keys.to_json.html_safe %>,
	datasets: [{
	  label: '# aliquota per salary',
	  data: <%= @data_values.to_json.html_safe %>,
	  borderWidth: 1
	}]
  },
  options: {
	scales: {
	  y: {
		beginAtZero: true
	  }
	}
  }
});
</script>